/* Document level adjustments */
  
html {
  font-size: 17px;
}
  
@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}
  
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}
  
  /* Type will scale with document */
h1 {
  font-size: 2rem;
}
  
h2 {
  font-size: 1.7rem;
}
  
h3 {
  font-size: 1.2rem;
}
  
h4 {
  font-size: 1rem;
}
  
h5 {
  font-size: 0.8rem;
}
  
p {
  font-size: 0.9rem;
  font-weight: bold;
}