img{
    height: 200px;
    width: 200px;
}
.footer-wrapper{
    display: inline-block;
    display: flex;
    color: white;
    background: #6B7280;
    position: relative;
    bottom: 0;
}
.description{
    justify-content: center;
}
h4{
    font-size: 1.5rem;
}
.footer-logo, .about, .contact{
    width: 30%;
    padding-left: 8rem;
}
.links li{
    display: inline-block;
    padding: 10px 25px;
    color: white;
}
button{
    background: black;
    color: aliceblue;
    padding: 10px;
    border: none;
}
@media all and (max-width: 796px){
      .footer-wrapper{
          padding-left: 0;
          flex-direction: row;
          width: auto;
          margin: 0 auto;
          padding-left: 9rem;
      }
      .footer-logo, .about, .contact{
          padding-left: 0;
      }
      .links li{
          padding-top: 10;
          padding-left: 0;
      }
}
@media all and (max-width: 520px){
    .footer-wrapper{
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        padding-left: 8rem;
        bottom: 0;
    }
    .about, .contact{
        padding-left: 3rem;
    }

}

