.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-wrapper{
	display: flex;
	justify-content: center;
	background-color: #61dafb;
	padding: 10px 20px;
}
.header-logo{
	flex: 1 1 40%;
}
.header-options{
	flex: 1 1 60%;
	list-style-type: none;
}
.header-options li {
	display: inline-block;
	padding: 10px;
}
.footer-wrapper{
	display: flex;
	padding: 20px;
}
.footer-logo{
	flex: 1 1 30%;
	min-height: 100px;
}
.footer-options{
	
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
